---
layout: default
title:  Blog
---
{% for post in paginator.posts %}
  <div class="post">
    <div class="post-title"><h1><a href="{{ post.url }}">{{ post.title }}</a></h1></div>
    <p class="auth">
      <span class="date" title="{{ post.created_at | date_to_xmlschema }}" >{{ post.created_at | date: "%Y-%m-%d %H:%M" }}</span>
      {% unless post.no_comment %}
      | <a href="http://ruby.meetup.hu{{post.url}}#disqus_thread" class="comments">kommentek</a>{% endunless %}
    </p>
    <div class="post-body">
      {{ post.content }}
    </div>
    <p class="meta">
      <!-- TODO: Implement tags
      Tags <a href="http://lackac.hu/tag/{{ tag }}" rel="tag">{{ tag }}</a>, ...
      -->
      {% unless post.no_comment %}
        <!-- <strong>|</strong>&nbsp; -->
        <a href="{{ post.url }}#disqus_thread">kommentek</a>
      {% endunless %}
    </p>
  </div>
{% endfor %}

<p>
  {% if paginator.previous_page %}
  <a href="/{% unless paginator.previous_page == 1 %}page{{paginator.previous_page}}/{% endunless %}">« Újabb bejegyzések</a>
  {% endif %}
  {% if paginator.previous_page and paginator.next_page %}
  |
  {% endif %}
  {% if paginator.next_page %}
  <a href="/page{{paginator.next_page}}/">Régebbi bejegyzések »</a>
  {% endif %}
</p>
