<h3 class='sidebar-title'>Rólam</h3>
<div class='static-body'>
  <p>Ez itt <a href="/pages/about.html">Bácsi László</a> blogja Rubyról, Ruby on Railsről, Javascriptről, saját projektekről.</p>

  <ul>
    <li><a href="/pages/about.html">rólam</a></li>
    <!-- TODO: implement tags to get this back -->
    <!--li><a href="/tag/project.html">projektek</a></li-->
    <li><a href="/pages/resume.html">önéletrajz / resume</a></li>
    <li><a href="http://icanscale.com">I Can Scale</a></li>
  </ul>

  <div style="text-align: center;"><a href="http://www.workingwithrails.com/recommendation/new/person/9271-laszlo-bacsi"><img alt="Ajánlj engem" src="http://workingwithrails.com/images/tools/compact-small.jpg" /></a></div>
</div>
