<h3 class='sidebar-title'>Twitter updates</h3>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<div class='static-body'>
  <div id="twitter-lackac">
  </div>
  <script>
  new TWTR.Widget({
    id: 'twitter-lackac',
    version: 2,
    type: 'profile',
    rpp: 5,
    interval: 30000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#cccccc',
        color: '#000000'
      },
      tweets: {
        background: '#ffffff',
        color: '#000000',
        links: '#8888ff'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      behavior: 'all'
    }
  }).render().setUser('LacKac').start();
  </script>
</div>
<div class='static-body'>
  <div id="twitter-icanscale">
  </div>
  <script>
  new TWTR.Widget({
    id: 'twitter-icanscale',
    version: 2,
    type: 'profile',
    rpp: 5,
    interval: 30000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#cccccc',
        color: '#000000'
      },
      tweets: {
        background: '#ffffff',
        color: '#000000',
        links: '#8888ff'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      behavior: 'all'
    }
  }).render().setUser('icanscale').start();
  </script>
</div>
