<h3 class='sidebar-title'>Blogroll</h3>
<div class='static-body'>
  <ul id="blogroll">
    <li><a href="http://webisztan.blog.hu" title="Index 2.0"><strong>Webisztán</strong></a></li>
    <li><a href="http://doransky.hu" rel="friend met" title="Doransky">Doransky</a></li>
    <li><a href="http://www.worldshots.hu" rel="friend met" title="Worldshots">Worldshots</a></li>
    <li><a href="http://webakademia.hu" rel="friend met" title="Webakadémia">Webakadémia</a></li>
    <li><a rel="friend met" href="http://tothbenedek.hu">Tóth Benedek</a></li>
    <li><a rel="friend met" href="http://www.bpcity.hu">BPCity</a></li>
    <li><a href="http://www.rabbitblog.hu" rel="friend met" title="Rabbitblog">Rabbitblog</a></li>
    <li><a rel="friend met" href="http://hirbehozo.blog.hu/">Hírbehozó</a></li>
    <li><a rel="friend met" href="http://www.wyctim.com/">Wyctim</a></li>
  </ul>
</div>
