<h3 class='sidebar-title'>Rólam</h3>
<div class='static-body'>
  <p>Ez itt <a href="/pages/about.html">Bácsi László</a> blogja Rubyról, Ruby on Railsről, Javascriptről, saját projektekről.</p>

  <ul>
    <li><a href="/pages/about.html">rólam</a></li>
    <!-- TODO: implement tags to get this back -->
    <!--li><a href="/tag/project.html">projektek</a></li-->
    <li><a href="/pages/resume.html">önéletrajz / resume</a></li>
    <li><a href="http://icanscale.com">I Can Scale (a&nbsp;blog&nbsp;in&nbsp;English)</a></li>
  </ul>

  <div style="text-align: center;">
    <a href="/pages/a-web-tamogatasa.html">Támogatsd a web előrejutását</a>:<br/>
    <a href='http://www.pledgie.com/campaigns/6918'><img alt='Kattints ide, hogy támogatsd a Web előrejutását a www.pledgie.com oldalon keresztül!' src='http://www.pledgie.com/campaigns/6918.png?skin_name=chrome' border='0' /></a>
  </div>

  <div style="text-align: center;"><embed  src="http://www.meetup.com/swf/membership_badge.swf?chapterid=1271139" width="160" height="106" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed><br /><a href="http://ruby.meetup.com/139/?track=i3/mu_bxv3qsh2yh">budapest.rb a meetup.com oldalon</a></div>

  <div style="text-align: center;"><a href="http://www.workingwithrails.com/recommendation/new/person/9271-laszlo-bacsi"><img alt="Ajánlj engem" src="http://workingwithrails.com/images/tools/compact-small.jpg" /></a></div>
</div>
