<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{ page.title }} – lackac.hu</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://lackac.myopenid.com/" />
  <meta http-equiv="X-XRDS-Location" content="http://lackac.myopenid.com/xrds" />

  <link rel="alternate" type="application/rss+xml" title="Feed" href="http://feeds2.feedburner.com/LacKacHu" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/date-hu.js" type="text/javascript" charset="utf-8"></script>

  <link href="/css/theme/master.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/css/theme/color.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/css/theme/print.css" media="print" rel="stylesheet" type="text/css" />
  <script src="/js/theme/lucid.js" type="text/javascript"></script>

  <link href="/css/syntax.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/css/custom.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>

<body class="c-ms cs2 fixed">

<div id="wrapper"><div id="w2"><div id="w3" class="clearfix">

<div id="header" class="clearfix">
  <div id="logo">
    <div id="the-logo">
      <h1><a href="/">lackac.hu</a></h1>
      <h2>egy magyar Ruby és JavaScript fejlesztő élete és munkássága</h2>
    </div>
  </div>

  <div id="search">
    <form action="/search.html" id="cse-search-box">
      <div>
        <input type="hidden" name="cx" value="016830784505072339417:zpwfnja3a-q" />
        <input type="hidden" name="cof" value="FORID:11" />
        <input type="hidden" name="ie" value="UTF-8" />
        <label for="q">Keresés:</label>
        <input type="text" id="q" name="q" size="15" />
        <input type="submit" id="sa" name="sa" value="Go" />
      </div>
    </form>
  </div>

  <ul id="preferences">
    <li><a href="javascript:;" id="layout-options" title="Layout and color options">Layout and color options</a></li>
    <li><a href="javascript:;" id="layout-fixed" title="Switch to fixed layout">Fixed</a></li>
    <li><a href="javascript:;" id="layout-fluid" title="Switch to fluid layout">Fluid</a></li>
  </ul>

  <div id="theme-panel" style="display:none;">
    <ul>
      <li><a href="javascript:;" id="cs0_swatch" title="Ruby color set">Ruby color set</a></li>
      <li><a href="javascript:;" id="cs1_swatch" title="Mint color set">Mint color set</a></li>
      <li><a href="javascript:;" id="cs2_swatch" title="Bleached color set">Bleached color set</a></li>
    </ul>
  </div>
</div>

<div id="content">

<div id="maincol"><div id="mc2">
  {{ content }}
</div></div> <!-- end #maincol -->

<div id="topsubcol">
  <div style="text-align: center;"><embed  src="http://www.meetup.com/swf/membership_badge.swf?chapterid=1271139" width="160" height="106" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed><br /><a href="http://ruby.meetup.hu/">budapest.rb blog</a></div>
</div>

<div id="subcol">
  <div class="bt"><div></div></div>
  <div id="sc2">
    {% include sidebar_about.html %}
    {% include sidebar_tags.html %}
    {% include sidebar_feeds.html %}
    {% include sidebar_twitter.html %}
  </div>
</div> <!-- end #subcol -->

</div> <!-- end #content -->

<div id="subfoot">
  <div class="bb"><div></div></div>
</div>

<div id="footer">
  <p>
    Tartalom: <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.5/hu/"><img alt="Creative Commons License" class="inline" src="http://i.creativecommons.org/l/by-nc-nd/2.5/hu/80x15.png"/></a>,
    <a href="http://github.com/lackac/lackac-hu">Forrás</a>: <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/hu/"><img alt="Creative Commons License" class="inline" src="http://i.creativecommons.org/l/by-nc/2.5/hu/80x15.png"/></a>,
    Design: <a href="http://www.soniciq.com" title="SonicIQ - Website Development">SonicIQ</a>
  </p>
</div>

</div></div></div> <!-- end #wrapper -->

{% include comment_counter.html %}
{% include analytics.html %}
</body>
</html>
